@import './variables.css';
@font-face {
  font-family: 'poppins';
  src: url('../src/assets/Fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

body {
  color-scheme: light dark;
  color: var(--color-text-light);
  background-color: var(--background-color);
  overflow-x: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

