.container {
    display: flex;
    flex-direction: row;
    border-radius: 0.3rem;
    border: 1px solid rgb(172, 164, 164);
    margin: 3%;
    padding: 1rem;
    width: 95%;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.imageContainer {
    width: 22%;
}

.imageContainer img {
    width: 100%;
}


.infoContainer {
    width: 84px;
    display: grid;
    justify-items: center;
    align-items: center;
}
.title{
    font-family: var(--font-family-poppins);
    margin: 0.3rem;
    line-height: 1;
    font-size: 1rem;
    font-weight: 900;
}
.title h2 {
    margin: 0;
}
.description{
    font-family: var(--font-family-poppins);
    font-size: 0.6rem;
    padding: 5px; 
    line-height: 15px;
    margin: 0;
}
.description p {
    margin: 0;
}
.priceContainer {
    display: flex;
    align-items: center;
}

.unitsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.unitsContainer p {
    font-size: 0.7rem;
    margin: 0;
}



.stockContain {
    display: flex;
    align-items: center;
    margin: 0.344rem
}

.sectionButtons {
    margin: 0.5rem;
}
