.container {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    flex-direction: column;
}
.containerTitle{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(24, 175, 19);
    border-start-start-radius: 0.3rem;
    border-start-end-radius: 0.3rem;
    border-bottom: none;
}

.containerCard {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    place-items: center;
    background: -webkit-linear-gradient(top, rgb(47 42 42) 50%, #1E1E1E 50%);
    width: 60%;
    padding: 0.3rem;
    color: rgb(221, 218, 218);
    font-weight: 700;
    border-radius: 0.3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.playerWithPlace {
    display: grid;
    border: 2px solid rgb(47 42 42);
    grid-template-columns: 0.2fr 1fr;
    margin: 0.5rem;
    place-items: center;
}